body{
    background-color: #404040;
}
.head{
    margin: 2px;
    padding: 2px;
    background-color: black ;
    color : white;
    text-align: center;

  } 
  .disable{
      display: none;
  }
  .head h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.message-icon i{
    padding: 0px 3px;
    cursor: pointer;
}
.message-input .form-control{
    border-radius:1px;
    box-shadow: none;
}

.message-footer{
    background-color: whitesmoke;
    border-top:2px solid #E5E5E5;
    background-color: #f5f5f5;
    width: 100%;
}
.message-footer i{
    color:#404040;
    padding:0px 5px;
    cursor: pointer;
}
#mail_text {
    direction: ltr;
    overflow:auto;
    height: 156px;
}
.message-footer button{
    border: none;
}