<app-head></app-head>
<!DOCTYPE html>
<html lang="en">

<body>
    <!-- headder -->
    <div class="container1">
        <!-- HOME -->
        <button style="background-color: #231F20;display:flex" class="fa fa-bars bar fa-2x" aria-hidden="true"></button>

        <div class="logo ml-3">
            <!-- logo -->
            <img src="assets/Images/mail_logo.png" width="40px" height="40px">
            <label id="text-logo">Mail </label>
        </div>
        <!-- icon -->
        <!-- <div class="search"> -->
        <div class="header__middle ml-3">
            <span class="material-icons"> search </span>
            <input type="text" placeholder="Search mail" />
            <span class="material-icons"> arrow_drop_down </span>
        </div>
        <!-- <span id="search-icon">
          <i class="fa fa-search fa" aria-hidden="true"></i>
        </span>
         search box
        <input class="searchbox" onchange="search()" type="text" name="search" placeholder="Type Somthing for Search"> -->

    </div>


</body>

</html>