<!-- Settings Starts -->
<!-- <div class="emailList__settings">
            <div class="emailList__settingsLeft">
                <div class="form-check">
                    <input style="margin-left:1px ;"  class="form-check-input" type="checkbox">
                </div>
                <span class="material-icons"> arrow_drop_down </span>
                <span class="material-icons"> redo </span>
                <span class="material-icons"> more_vert </span>
            </div>
            <div class="emailList__settingsRight">
                <span class="material-icons"> chevron_left </span>
                <span class="material-icons"> chevron_right </span>
                <span class="material-icons"> settings </span>
            </div>
        </div>
        Settings Ends -->

<!-- Section Starts -->
<!-- <div class="emailList__sections">
            <a class="btn" [routerLink]="'main/inbox'" ><div  (click)="onSelect(1)" [class]="{'section__selected':selectedIndex == 1}"
                class="section">
                <span class="material-icons"> inbox </span>
                <h4>Inbox</h4>
            </div></a>

            <a class="btn" [routerLink]="'main/social'" ><div (click)="onSelect(2)" [class]="{'section__selected':selectedIndex == 2}" class="section ">
                <span class="material-icons"> people </span>
                <h4>Draft</h4>
            </div></a>


            <a class="btn" [routerLink]="'main/promosion'" ><div (click)="onSelect(3)" [class]="{'section__selected':selectedIndex == 3}" class="section">
                <span class="material-icons"> local_offer </span>
                <h4>Important</h4>
            </div></a> -->
<!-- </div> -->
<!-- Section Ends -->
